/// ELEMENTS / TYPOGRAPHY


// Headings (define styling and font-size)

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
	line-height: $line-height-headings;
	font-weight: $font-family-heading-bold;
}


@each $font-size-name, $font-size-value in $font-sizes-headings {
	#{$font-size-name} {
		font-size: $font-size-value;
	}
}
