/// COMPONENTS / BUTTONS


$button-padding-x: 2rem !default;
$button-padding-y: .5rem !default;
$button-icon-padding-x: 2rem !default;
$button-icon-padding-y: .5rem !default;
$button-transition-speed: .2s !default;


.c-button {
	display: inline-block;
	color: currentColor;
	text-align: center;
	cursor: pointer;
	padding: $button-padding-y $button-padding-x;
}

.c-button--primary {
	background-color: color( primary );
	transition: background-color $button-transition-speed;
	color: color( extra, white );
	
	&:hover,
	&:focus,
	&:active {
		background-color: color-darken( primary );
	}
}

.c-button--secondary {
	background-color: color( secondary );
	transition: background-color $button-transition-speed;

	&:hover,
	&:focus,
	&:active {
		background-color: color-darken( secondary );
	}
}

.c-button--full {
	display: block;
	width: 100%;
}

.c-button[ disabled ],
.c-button--disabled {
	cursor: auto;
}
