/// COMPONENTS / HAMBURGER

$hamburger-icon-padding-x: 1rem !default;
$hamburger-icon-padding-y: 1rem !default;
$hamburger-icon-layer-width: 1.5rem !default;
$hamburger-icon-layer-height: .15rem !default;
$hamburger-icon-layer-spacing: .275rem !default;
$hamburger-icon-layer-color: color( extra, black ) !default;
$hamburger-icon-layer-border-radius: 0 !default;

.c-hamburger-icon-wrap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: z-index(modalclose);

	.admin-bar & {
		top: 32px;
	}
}

.c-hamburger-icon {
	display: inline-block;
	padding: $hamburger-icon-padding-y $hamburger-icon-padding-x;
}

.c-hamburger-icon__box {
	display: block;
	position: relative;
	width: $hamburger-icon-layer-width;
	height: ($hamburger-icon-layer-height * 3) + ($hamburger-icon-layer-spacing * 2);
}

.c-hamburger-icon__inner {
	display: block;
	top: 50%;
	margin-top: ($hamburger-icon-layer-height / 2) * -1;

	&,
	&::before,
	&::after {
		position: absolute;
		width: $hamburger-icon-layer-width;
		height: $hamburger-icon-layer-height;
		border-radius: $hamburger-icon-layer-border-radius;
		background-color: $hamburger-icon-layer-color;
	}

	&::before,
	&::after {
		content: '';
		display: block;
	}
}

// Variants

.c-hamburger-icon--slider {
	.c-hamburger-icon__inner {
		top: $hamburger-icon-layer-height / 2;

		&,
		&::before,
		&::after {
			transition-property: transform, opacity;
			transition-timing-function: ease;
			transition-duration: .2s;
		}

		&::before {
			top: $hamburger-icon-layer-height + $hamburger-icon-layer-spacing;
		}

		&::after {
			top: ($hamburger-icon-layer-height * 2) + ($hamburger-icon-layer-spacing * 2);
		}
	}

	&.is-active {
		.c-hamburger-icon__inner {
			$y-offset: $hamburger-icon-layer-spacing + $hamburger-icon-layer-height;
			transform: translate3d( 0, $y-offset, 0 ) rotate( 45deg );

			&::before {
				opacity: 0;
				transform: rotate( -45deg ) translate3d( $hamburger-icon-layer-width / -7, $hamburger-icon-layer-spacing * -1, 0 );
			}

			&::after {
				transform: translate3d( 0, $y-offset * -2, 0 ) rotate( -90deg );
			}
		}
	}
}
