/// COMPONENTS / LIST


.c-list {
    list-style: none;

    &__item {
        position: relative;
        padding-left: spacing(1) * 1.5;

        &:before {
            content: "";
            width: 1rem;
            height: 0.1rem;
            background: color( primary );
            display: inline-block;
            margin-right: $spacer-half;
            position: absolute;
            top: 50%;
            left: 0;
            line-height: 1;
        }
    }
}