/// COMPONENTS / OFFCANVAS

$offcanvas-background-color: color( primary ) !default;
$offcanvas-offset-top: 0 !default;
$offcanvas-z-index: map-get( $z-index, offcanvas ) !default;

.c-offcanvas {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $offcanvas-background-color;
	z-index: $offcanvas-z-index;
	padding-top: $offcanvas-offset-top;
	opacity: 0;
	visibility: hidden;
	transform: translateY( -1rem );
	transition: opacity .2s, visibility .2s, transform .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	color: color( extra, white );

	&__close {
		position: absolute;
		right: 0;
		top: 0;
	}

	&__inner {
		flex: 0 0 100%;
	}

	&.is-active {
		opacity: 1;
		visibility: visible;
		transform: translateY( 0 );
	}
}

.has-offcanvas { // Apended to html, body
	overflow: hidden;
}