html{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,432fdc+24,16127a+100&0+0,0+24,0.28+100 */
background: -moz-linear-gradient(top,  rgba(122,188,255,0) 0%, rgba(67,47,220,0) 24%, rgba(22,18,122,0.28) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,188,255,0) 0%,rgba(67,47,220,0) 24%,rgba(22,18,122,0.28) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,188,255,0) 0%,rgba(67,47,220,0) 24%,rgba(22,18,122,0.28) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007abcff', endColorstr='#4716127a',GradientType=0 ); /* IE6-9 */



}

.App {
    display: flex;
    align-items: center;
    padding-top: 4rem;
    margin: auto;
    border-radius: 10px;
    }

.userLogged{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
   
}
.c-user__choose{
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.c-user__email{
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    input[type="submit"] {
        width: 100px;
        margin: auto;
        &:hover,
        &:focus,
        &:active {
          transition: 0.7s;
          background-color: color-darken(secondary);
        }
      }
}

.c-sucess {
    background: rgba(0,255,0,0.3);
    padding: 1rem;
    border: 1px solid rgba(0,255,0,0.4);
    max-width: 500px;
    margin: auto;
}