/// TOOLS / COLORS


// Get color from colors map

@function color($color-map, $color-name:null) {
	@if ($color-name != null) {
		@return map-get(map-get($colors, $color-map), $color-name);
	} @else {
		@return map-get(map-get($colors, $color-map), default);
	}
}


// Darken selected color

@function color-darken($color-map, $color-name:null) {
	@return darken(color($color-map, $color-name), $color-step);
}


// Lighten selected color

@function color-lighten($color-map, $color-name:null) {
	@return lighten(color($color-map, $color-name), $color-step);
}


// Get color from "other" colors map

@function color-other($color-map, $color-name:null) {
	@if ($color-name != null) {
		@return map-get(map-get($colors-other, $color-map), $color-name);
	} @else {
		@return map-get(map-get($colors-other, $color-map), default);
	}
}
