/// TOOLS / FONTS

/* stylelint-disable */

// Utilities for easier @font-face imports.
// Usage: https://gist.github.com/netopolit/4484aee8332b8c4374a844d3946900bc

// @example
// @include font-face(Samplino, fonts/Samplino);
// @include font-face("Samplina Neue", fonts/SamplinaNeue, bold, italic);
// @include font-face(Samplinoff, fonts/Samplinoff, null, null, woff);
// @include font-face(Samplinal, fonts/Samplinal, 500, normal, eot woff2 woff);


// String replace

@function str-replace($string, $search, $replace: '') {
	$index: str-index( $string, $search );

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}


// Font Face

@mixin font-face($name, $path, $weight: null, $style: null, $altname: $name, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: '?',
		svg: '#' + str-replace( $altname, ' ', '_' )
	);

	$formats: (
		otf: 'opentype',
		ttf: 'truetype'
	);

	@each $ext in $exts {
		$extmod: if( map-has-key( $extmods, $ext ), $ext + map-get( $extmods, $ext ), $ext );
		$format: if( map-has-key( $formats, $ext ), map-get( $formats, $ext ), $ext );
		$src: append( $src, url( quote( $path + "." + $extmod ) ) format( quote( $format ) ), comma);
	}

	@font-face {
		font-family: quote( $name );
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}
