form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  input {
    //margin-bottom: 0.5rem;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    
    &:hover,
    &:focus,
    &:active {
      transition: .3s;
      background-color: rgba(0,255,0, 0.1);
      outline-color: rgba(0,255,0, 0.2);
    }
    .error {
      background: red;
      border: 1px solid darkred;
    }
    .valid {
      background: green;
      border: 1px solid darkolivegreen;
    }
  }

  input[type="submit"] {
    width: 100px;
    margin: auto;
    margin-top: 1rem;
    background-color: color(primary);
    color: white;
    &:hover,
    &:focus,
    &:active {
      transition: 0.7s;
      background-color: color-darken(primary);
      color: white;
    }
  }
}

.form--invalid{
  .error{
    transition: 0.7s;
    color: rgba(255,0,0,0.7);
    font-size: 0.75rem;
  
  }
  input:not([type="submit"]){
    transition: 0.7s;
    background:rgba(255,0,0,0.2);
    border: 1px solid darkred;
    &:hover,
    &:focus,
    &:active {
      transition: .3s;
      background:rgba(255,0,0,0.2);
      outline-color: rgba(255,0,0,0.5);
    }
  }
  
}
.c-counter{
  font-size: 0.8rem;
  color: rgba(255,0,0,0.5);
}
.c-form-radio {
  flex-direction: row;
  justify-content: space-evenly;
}
