/// SETTINGS / COLORS


$colors: (
	primary: (
		default: 	#3F2ADA
	),
	secondary: (
		default: 	#F0C808
	),
	extra: (
		base: 		#212529,
		links: 		#EF4024,
		black: 	    #000000,
		white: 		#ffffff,
		gray-0:		#fafafa,
		gray-1:		#f5f5f5,
		gray-2:		#eeeeee,
		gray-3:		#e0e0e0,
		gray-4:		#bdbdbd,
		gray-5:		#9e9e9e,
		gray-6:		#757575,
		gray-7:		#616161,
		gray-8:		#424242,
		gray-9:		#212121,
	)
) !default;


$colors-other: (
	social: (
		facebook: 		#3b5998,
		twitter: 		#55acee,
		youtube: 		#cd201f,
		instagram: 		#3f729b,
		linkedin: 		#0077b5,
		whatsapp:		#25d366,
		viber:			#8f5db7
	)
) !default;


$color-step: 10% !default;
