/// SETTINGS / SPACING


$spacer-base:       1rem !default;
$spacer-half:       $spacer-base / 2 !default;
$spacer-quarter:    $spacer-base / 4 !default;
$spacer-third:      $spacer-base / 3 !default;

$spacers: (
    0: 0,
    1: 1rem,
    2: 2rem,
    4: 4rem,
    8: 8rem
 ) !default;
