/// SETTINGS / TYPOGRAPHY


$font-size-base: 20px !default;
$line-height-base: 1.5 !default;
$font-family-base: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-family-base-bold: 700;
$font-family-base-normal: 500;

$font-family-heading: 'Georgia', 'Palatino', serif; // or $font-family-base
$line-height-headings: 1.25 !default;

$font-family-heading-bold: 500;

$font-sizes-headings: (
	h1: 	2.25rem,
	h2: 	1.75rem,
	h3: 	1.5rem,
	h4: 	1.25rem,
	h5: 	1.125rem,
	h6: 	1rem,
) !default;

$font-sizes-other: (
	xs: 	.75rem,
	sm: 	.875rem,
	base: 	1rem,
) !default;

$use-responsive-fonts: true;
$font-sizes-responsive: (
	xs: 	14px,
	sm: 	16px,
	md: 	18px,
	lg: 	20px
) !default;

$font-sizes: map-merge(
	$font-sizes-headings, $font-sizes-other
) !default;
