/// UTILITIES / TYPOGRAPHY

/* stylelint-disable declaration-no-important */

// Define text color

@each $color-map, $color-map-colors in $colors {
	@each $color-name, $color-value in $color-map-colors {
		$selector-suffix: $color-map;

		@if ($color-name != default) {
			$selector-suffix: $color-map + '-' + $color-name;
		}

		@if ($color-map == extra) {
			$selector-suffix: $color-name;
		}

		.u-text-#{$selector-suffix} {
			color: color( $color-map, $color-name ) !important;
		}
	}
}


// Define text sizes

@each $font-size-name, $font-size-value in $font-sizes-other {
	.u-text-#{$font-size-name} {
		font-size: $font-size-value !important;
	}
}


// Define text alignment

@each $breakpoint-key, $breakpoint-value in $breakpoints {
	@if $breakpoint-key == xs {
		.u-text-center {
			text-align: center !important;
		}

		.u-text-left {
			text-align: left !important;
		}

		.u-text-right {
			text-align: right !important;
		}
	} @else {
		@include media-breakpoint-up(#{$breakpoint-key}) {
			.u-text-center\@#{$breakpoint-key} {
				text-align: center !important;
			}

			.u-text-left\@#{$breakpoint-key} {
				text-align: left !important;
			}

			.u-text-right\@#{$breakpoint-key} {
				text-align: right !important;
			}
		}
	}
}


// Define headings font sizes

@each $font-size-name, $font-size-value in $font-sizes-headings {
	.u-#{$font-size-name} {
		font-size: $font-size-value !important;
	}
}


// Font styles

.u-italic {
	font-style: italic !important;
}

.u-roman {
	font-style: normal !important;
}


// Text case

.u-uppercase {
	text-transform: uppercase !important;
}

.u-lowercase {
	text-transform: lowercase !important;
}

.u-capitalize {
	text-transform: capitalize !important;
}

.u-normal-case {
	text-transform: none !important;
}

.u-underline {
	text-decoration: underline !important;
}

.u-line-through {
	text-decoration: line-through !important;
}

// Font family and weight

.u-font-base {
	font-family: $font-family-base;
}

.u-font-heading {
	font-family: $font-family-heading;
}

.u-font-bold {
	font-weight: $font-family-base-bold;
}

.u-font-normal {
	font-weight: $font-family-base-normal;
}

